<!doctype html>

<!---
Author Name:-Amit kadivar
Created Date:-6/7/2018
Created by:-
-->

{% extends 'base.html' %}
{% load static %}
{% block title %}Polls | poll_list{% endblock %}
{% block bootstrap %}
  {{ block.super }} 

{% endblock %}
{% block container-fluid %}
  
  {% block navbar%}
  {{ block.super }}
  {% endblock %}
  {% block content %}
  <div class="container">
    <h1 class="text-center">Welcome to Poll List </h1>
    <div class="row">
      <div class="col-sm-8 offset-sm-2"> 
        {% for poll in polls %}
         <a href=" {% url 'polls:poll_detail' poll.id %}" class="list-group-item list-group-item-action">{{ poll }}</a>
         {% endfor %}
      </div>
    </div>
   </div>

  {% endblock %}
{% endblock %}
    

