<!doctype html>

{% extends 'base.html' %}

{% block content %}
    <h1>Poll Detail Page</h1>
    {{ poll }}
    <form action="{% url 'polls:poll_vote' poll.id %}" method="post">
        {% csrf_token %}
    {% for choice in poll.choice_set.all%}    
        <input type="radio"
                name="choice"
                id="choice{{ forloop.counter }}"
                value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text}}</label>
        <br>
        <input type="submit" value="Vote">
    {% endfor %}    
    </form> 
{% endblock %}