#poll-list,h1,h3 {
    color:white; 
}

body{
    background-image: url('../img/vote.jpg');
    background-size: 100%;    
}

#home-content {
    /* color: white; */
    text-align: center;
    margin-top: 20%;
}
