<!doctype html>
<!--
Author Name:-Amit kadivar
Created Date:-6/7/2018
Created by:-
-->
{% load static %}

<html lang="en">
  <head>
    <title>{% block title %} Home|page{% endblock %}</title>
    {% block bootstrap %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
   
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" 
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  {% endblock %}
</head>
  <body>
                                    <!--Nav Bar-->
    {% block container-fluid %}
    <div class="container-fluid">
        {% block navbar%}
                
           {% include 'include/navbar.html' %}
        {% endblock %}
     
        {% block content %}
          <h1>Welcome to Home Page!!!</h1>
          <p>what is today? </p>
          <p>{{ now_time }}</p>
        {% endblock %}
    </div>
    {% endblock %}
  </body>
</html>


