<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Polls | Home{% endblock %}
{% block bootstrap %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{{ block.super }}  
  
{% endblock %}
{% block container-fluid %}
  
  {% block navbar%}
  {{ block.super }}
  {% endblock %}
  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col"> 
          <div id="home-content">
            <h1>PollMe - Get Start !</h1>
            <h3> Your Vote is important !</h3>
            <hr>
            <button type="button" class="btn btn-light btn-lg">Get Started!</button>
          </div>
        </div>  
      </div>
    </div>
  {% endblock %}
{% endblock %}


